<h1>Editing picture</h1>

<% form_for([@album, @picture]) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr>
    <td><%= image_tag @picture.public_filename %></td>
    <td><%= f.label :description %><br />
    <%= f.text_area :description %></td>
  </tr>
  </table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', album_picture_path(@album,@picture) %> |
<%= link_to 'Back', album_pictures_path(@album) %>
