<h1>Editing picture</h1>

<% form_for([@album, @picture]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', album_picture_path(@album,@picture) %> |
<%= link_to 'Back', album_pictures_path(@album) %>
