<h1>Listing pictures in <%=h @album.name %> album</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Description</th>
  </tr>

<% for picture in @pictures %>
  <tr>
    <td><%= link_to image_tag(picture.public_filename(:thumb)), picture.public_filename %></td>
    <td><%=h picture.description %></td>
    <td><%= link_to 'Edit', edit_album_picture_path(@album,picture) %></td>
    <td><%= link_to 'Destroy', album_picture_path(@album,picture), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New picture', new_album_picture_path(@album) %>
